---
{
	"title": "Lightbox",
	"language": "en",
	"description": "Helps build a photo gallery on a web page.",
	"altLangPrefix": "lightbox",
	"dateModified": "2014-02-19"
}
---
<span class="wb-prettify all-pre hide"></span>

<section>
	<h2>Purpose</h2>
	<p>Light box is a jQuery plugin that helps you build photo gallery out of pictures on a web page.</p>
</section>

<section>
	<h2>Use when</h2>
	<ul>
		<li>Building in-page photo galleries.</li>
		<li>Use case 2</li>
		<li>Use case 3</li>
	</ul>
</section>

<section>
	<h2>Do not use when</h2>
	<ul>
		<li>Gallery panels contain content that isn't already present in the page's main content.</li>
		<li>Use case 2</li>
		<li>Use case 3</li>
	</ul>
</section>

<section>
	<h2>Working example</h2>
	<ul>
		<li><a href="../../../demos/lightbox/lightbox-en.html">English example</a></li>
		<li><a href="../../../demos/lightbox/lightbox-fr.html">French example</a></li>
	</ul>
</section>

<section>
	<h2>How to implement</h2>
	<p>Each picture gallery groups and single pictures must be inside its own <code>&lt;div&gt;</code> using the "<b>wet-boew-lightbox</b>" class. Also, every <code>&lt;img&gt;</code> elements must be inside its own <code>&lt;a&gt;</code>.</p>
	<p>Example:</p>
	<pre><code>&lt;div class="wet-boew-lightbox"&gt;
  &lt;a class="lb-item" href="image/image_source.jpg" title="Alt text for the image"&gt;
    &lt;img src="image/image_source.jpg" alt="Alt text for the image"&gt;
  &lt;/a&gt;
&lt;/div&gt;</code></pre>
	<p><b>Note:</b> The class "<code>lb-item</code>" is used here as an example. Bellow are the options to implement the Lightbox.</p>
	
	<section>
		<h3>Single Items</h3>
		<p>To implement Light box to a <b>single image/picture</b> on your page you need to use the class <code>lb-item</code> on the <code>&lt;a&gt;</code> tags.</p>
		<pre><code>&lt;div class="wet-boew-lightbox"&gt;
  &lt;a class="lb-item" href="images/image_source.jpg" title="Alt text for the image"&gt;
    &lt;img src="images/image_source.jpg" alt="Alt text for the image" class="image-actual" /&gt;
  &lt;/a&gt;
&lt;/div&gt;</code></pre>
		<p><a href="../../../demos/lightbox/lightbox-en.html#examples1">Working Demo</a></p>
	</section>

	<section>
		<h3>Item Gallery</h3>
		<p>To implement Light box to a <b>group of images/pictures</b> on your page you need to use this code:</p>
		<pre><code>&lt;div class="wet-boew-lightbox"&gt;
  &lt;ul class="lb-gallery"&gt;
    &lt;li&gt;
      &lt;a class="lb-item-gal" href="images/image_source.jpg" title="Alt text for the image"&gt;
        &lt;img src="images/image_source.jpg" alt="Alt text for the image" class="image-actual" /&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;...&lt;/li&gt;
    &lt;li&gt;...&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
		<p><a href="../../../demos/lightbox/lightbox-en.html#examples2">Working Demo</a></p>
	</section>

	<section>
		<h3>Hidden Item Gallery</h3>
		<p>To implement Light box to a <b>group of hidden images/pictures</b> on your page you need to use this code:</p>
		<pre><code>&lt;div class="wet-boew-lightbox"&gt;
  &lt;ul class="lb-hidden-gallery"&gt;
    &lt;li&gt;
      &lt;a class="lb-item-gal" href="images/image_source.jpg" title="Alt text for the image"&gt;
        &lt;img src="images/image_source.jpg" alt="Alt text for the image" class="image-actual" /&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;...&lt;/li&gt;
    &lt;li&gt;...&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
		<p><a href="../../../demos/lightbox/lightbox-en.html#examples3">Working Demo</a></p>
	</section>

	<section>
		<h3>Alternative Image Title</h3>
		<p>To implement an <b>alternative image title for a light box</b> use the light box link's <code>data-title</code> attribute to specify a page element by its ID:</p>
		<pre>&lt;div class="wet-boew-lightbox"&gt;
  &lt;a class="lb-item" href="image/image_source.jpg" title="Alt text for the image" data-title="element_id"&gt;
    &lt;img src="image/image_source.jpg" alt="Alt text for the image"&gt;
  &lt;/a&gt;
&lt;/div&gt;
&lt;p id="element_id"&gt;Alternative light box title for the image&lt;/p&gt;</pre>
		<p><a href="../../../demos/lightbox/lightbox-en.html#examples4">Working Demo</a></p>
	</section>

	<section>
		<h3>Styling</h3>
		<p>By default, there are no additional classes used to style the gallery as it appears in the <a href="../../../demos/lightbox/lightbox-en.html">working demo</a>. In order to style the lightbox gallery to look like it does in the demo, some extra classes can be used to remove the bullets, indentation and resize the images:</p>
		<pre><code>&lt;div class="wet-boew-lightbox"&gt;
   &lt;ul class="lb-gallery equalize list-bullet-none indent-none"&gt;
      &lt;li class="span-2 float-left margin-right-none" &gt;
         &lt;a class="lb-item-gal" href="image1.jpg" title="Image 1 title"&gt;
            &lt;img src="thumb_image1.jpg" alt="Image 1 title" /&gt;
         &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="span-2 float-left margin-right-none" &gt;
         &lt;a class="lb-item-gal" href="image2.jpg" title="Image 2 title"&gt;
            &lt;img src="thumb_image2.jpg" alt="Image 2 title" /&gt;
         &lt;/a&gt;
      &lt;/li&gt;
[...]
&lt;/ul&gt;&lt;/div&gt;</code></pre>
	</section>

	<section>
		<h3>Force Photo Link</h3>
		<p>Applying the <code>force-photo</code> class on the div containing <code>wet-boew-lightbox</code> forces Light Box to display a link as a photo. Use this when automatic photo detection fails (such as using a url like <code>photo.php</code> or <code>&amp;photo=1234</code> instead of <code>photo.jpg</code>)</p>
		<p>Example:</p>
		<pre><code>&lt;div class="wet-boew-lightbox force-photo"&gt;
  &lt;a class="lb-item" href="photo.php" title="Alt text for the image"&gt;
    &lt;img src="image/image_source.jpg" alt="Alt text for the image"&gt;
  &lt;/a&gt;
&lt;/div&gt;</code></pre>
	</section>

	<section>
		<h3>Applying Additional Settings</h3>
		<p>There are many behaviours for the Light Box plugin (based on the ColorBox project) which are documented <a href="http://www.jacklmoore.com/colorbox/">here</a>. To apply these additional settings, add a <code>data-wet-boew</code> attribute containing your additional settings like so:</p>
		<pre><code>&lt;div class="wet-boew-lightbox" data-wet-boew="speed:5000,opacity:0.1"&gt;</code></pre>

		<section>
			<h4>Sending Additional data to AJAX content</h4>
			<p>It is possible to send additional data to AJAX content via the POST HTTP method. The data is specified on individual lightbox items using the data-wet-boew-lightbox attribute and the postData parameter. The data assigned to the postData parameter must be a valid JSON object.</p>
			<pre><code>&lt;div class="wet-boew-lightbox"&gt;
	&lt;ul&gt;
		&lt;li class="box"&gt;
			&lt;a class="lb-item" title="Example of AJAX content" data-wet-boew-lightbox='{"postData": {"foo":"bar", "ping":"pong"}}' href="ajax/ajax-en.html"&gt;AJAX content&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;</code></pre>
		</section>
	</section>
	
	<ol>
		<li>Step 1</li>
		<li>Step 2
			<pre><code>Example code</code></pre>
		</li>
		<li>Step 3
			<pre><code>Example of multi-line code
Example of multi-line code
Example of multi-line code</code></pre>
		</li>
		<li>Step 4</li>
	</ol>
</section>

<section>
	<h2>Configuration options</h2>
	<p>Document the public configuration options that can be used by implementers or developers.</p>
	<table class="table">
		<thead>
			<tr>
				<th>Option</th>
				<th>Description</th>
				<th>How to configure</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>lb-item</code></td>
				<td>Used to set up individual lightbox items. Individual items don't have next/previous navigation.</td>
				<td>Set the <code>lb-item</code> class on <code>&lt;a&gt;</code> elements in a list.</td>
				<td>
					<dl>
						<dt>Value 1 (default):</dt>
						<dd>Brief description</dd>
						<dt>Value 2:</dt>
						<dd>Brief description</dd>
						<dt>Value 3:</dt>
						<dd>Brief description</dd>
					</dl>
				</td>
			</tr>
			<tr>
				<td>Option 1</td>
				<td>Brief description of the option</td>
				<td>How to configure the option</td>
				<td>
					<dl>
						<dt>Value 1 (default):</dt>
						<dd>Brief description</dd>
						<dt>Value 2:</dt>
						<dd>Brief description</dd>
						<dt>Value 3:</dt>
						<dd>Brief description</dd>
					</dl>
				</td>
			</tr>
			<tr>
				<td>Option 2</td>
				<td>Brief description of the option</td>
				<td>How to configure the option</td>
				<td>
					<dl>
						<dt>Value 1 (default):</dt>
						<dd>Brief description</dd>
						<dt>Value 2:</dt>
						<dd>Brief description</dd>
						<dt>Value 3:</dt>
						<dd>Brief description</dd>
					</dl>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Events</h2>
	<p>Document the public events that can be used by implementers or developers.</p>
	<table class="table">
		<thead>
			<tr>
				<th>Event</th>
				<th>Trigger</th>
				<th>What it does</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Event 1</td>
				<td>When the event is triggered and how to trigger it manually (where supported)</td>
				<td>Brief description of what it does.</td>
			</tr>
			<tr>
				<td>Event 2</td>
				<td>When the event is triggered and how to trigger it manually (where supported)</td>
				<td>Brief description of what it does.</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Source code</h2>
	<p><a href="https://github.com/wet-boew/wet-boew/tree/v4.0/src/plugins/lightbox">Source code (GitHub)</a></p>
</section>
